@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="m-4">
    <div class="card-group">
        @foreach (var blogPost in Model.BlogPosts)
        {
            <div class="card">
                <img src="/images/docker-compose.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@blogPost.Title</h5>
                    <p class="card-text">@(blogPost.Description)...</p>
                    <a href="/blog/@blogPost.Id" class="btn btn-primary stretched-link">View Post</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 5 mins ago</small>
                </div>
            </div>
        }

    </div>
</div>